@font-face {
    font-family: 'Aileron';
    font-weight: 700;
    src: url('./assets/fonts/Aileron-Black.woff2') format('woff2'),
        url('./assets/fonts/Aileron-Black.woff') format('woff');
}

@font-face {
    font-family: 'Gatwick';
    font-weight: 700;
    src: url('./assets/fonts/PPGatwick-Bold.woff') format('woff'),
        url('./assets/fonts/PPGatwick-Bold.woff2') format('woff2');
}

:root {
    --page-color: rgb(254,251,246);
    --light-color: rgb(177,183,212);
    --dark-color: rgb(115,126,167);
}

* {
    margin: 0;
    padding: 0;
    color: var(--light-color);
}

body {
    background-color: var(--bg-color);
    font-family: 'Aileron', sans-serif;
    font-size: 16px;
}

h1 {
    margin-top: 0.5em;
    padding-top: 0.5em;
}

h1,
h2 {
    color: var(--light-color);
    text-transform: uppercase;
    font-size: 4.6em;
    font-weight: 700;
}

p {
    font-family: 'Gatwick', sans-serif;
}

.container {
    margin: 0 auto;
    width: 600px;
    padding: 0 1rem;

    display: flex;
    flex-direction: column;
    gap: 5em;
}

.container>div {
    height: 800px;
    background-color: var(--page-color);
    box-shadow: 0px 0px 7px gray;
}

/* cover styles */
.cover {
    margin-top: 2em;
    padding: 0 3em 4em;
}

.cover>img {
    width: 100%;
    height: calc(100% - 4em - 20%);
    object-fit: cover;
    object-position: center;
}

/* table of contents styles */
.tableOfContents {
    display: flex;
}

.leftTOC>div {
    /* text should be vertical */
    writing-mode: vertical-rl;
    transform: rotate(180deg);

    color: var(--light-color);
    /* font-size: 4.2em; */
    font-size: 70px;
    letter-spacing: -2px;
    line-height: 0.7;
    text-transform: uppercase;
}

.rightTOC {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.titleDivTOC {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titleDivTOC>h3:first-of-type {
    color: var(--dark-color);
    font-size: 3em;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 0.7em;
}

.titleDivTOC>h3:last-of-type {
    color: var(--light-color);
    font-size: 2em;
    font-weight: 700;
    text-transform: uppercase;
    transform: rotate(180deg);
    line-height: 0.1;
}

.titleDivTOC>h2 {
    color: var(--dark-color);
    font-size: 0.9em;
    font-weight: 700;
    text-transform: lowercase;
    margin-top: 1.5em;
    letter-spacing: 10px;
}

.contentsTOC {
    flex: 1;
    padding: 1.5em 1em 0;
    display: grid;
    gap: 1em;
    grid-template-columns: 1fr 1fr;
}

.contentDivTOC {
    display: flex;
}

.TOCNumber {
    color: var(--dark-color);
    font-size: 3em;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
}

.TOCCredit {
    color: var(--dark-color);
    font-size: 0.7em;
    font-family: 'Aileron', sans-serif;
}

/* The Mask Page */ 
.theMaskPage {
    background: linear-gradient(to right, var(--page-color) 50%, var(--light-color) 50%);
}

.theMaskPage {
    display: flex;
    flex-direction: column;
}

.theMaskPage h2 {
    font-size: 80px;
    line-height: 0.7;
    width: min-content;
    margin: 0;
    padding: 0;
}

.theMaskContent {
    display: flex;
    
}

.theMaskContent img {
    object-fit: cover;
    object-position: center;
    width: 60%;
    height: 100%;
}

.theMaskContent p {
    text-align: justify;
    font-size: 1.2em;
    width: 40%;
    color: var(--page-color);
    line-height: 1.5;
    padding: 0 1em 0 0.5em;
}

.theMaskContent p,
.theFormulaContent p {
    font-family: 'Gatwick', sans-serif;
}

/* The Formula Page */

.theFormulaPage {
    background: linear-gradient(to right, var(--page-color) 5%, var(--dark-color) 5%, var(--dark-color) 95%, var(--page-color) 35%);
    display: flex;
    justify-content: center;
    align-items: start;
}

.theFormulaContainer {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 1em;
}

.theFormulaContainer h2 {
    color: var(--page-color);
    line-height: 0.8;
    text-align: center;
}

.theFormulaContent {
    margin-top: 0.5em;
}

.theFormulaContent p {
    color: var(--page-color);
    line-height: 1.5;
    text-align: justify;
    font-size: 0.5em;
}

.theFormulaContent p:nth-of-type(2) {
    margin-top: 1em;
}

.theFormulaContainer img {
    margin-top: 0.1em;
    height: 500px;
    object-fit: cover;
    object-position: top;
}

/* a moment in my head page styles */
.aMomentInMyHeadContainer {
    display: flex;
}

.aMomentInMyHeadContainer h2 {
    text-transform: lowercase;
    writing-mode: vertical-rl;
    line-height: 0.5;
    width: 10%;
}

.aMomentInMyHeadContainer h2:nth-of-type(2) {
    transform: rotate(180deg);
}

.aMomentInMyHeadContainer h2:nth-of-type(2),
.aMomentInMyHeadCenter p {
    color: var(--dark-color);
}

.aMomentInMyHeadCenter {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aMomentInMyHeadCenter img {
    margin-top: 1em;
    width: calc(600px * 0.7);
}

.aMomentInMyHeadCenter p {
    margin-top: 1em;
    font-size: 0.7em;
    width: 30%;
    text-align: justify;
    letter-spacing: 1px;
}

/* footer styles */
footer {
    color: var(--dark-color);
    text-align: center;
    margin-bottom: 1em;
}

footer p,
footer a {
    font-family: 'Aileron', sans-serif;
}

/* tablet */
@media screen and (max-width: 900px) {
    h1 {
        letter-spacing: -0.069em;
    }

    .leftTOC>div {
        font-size: 4.5em;
    }
}

/* mobile */
@media screen and (max-width: 600px) {
    .container {
        width: 427px;
    }

    .container>div {
        height: 600px;
    }

    h1 {
        font-size: 50px;
    }

    .leftTOC>div {
        font-size: 3.2em;
    }

    .contentsTOC {
        padding: 1em 0.5em 0;
    }

    .TOCNumber {
        font-size: 2.5em;
    }

    .TOCTitle {
        font-size: 1.3em;
    }

    .theMaskContent {
        height: 80%;
    }

    .theMaskPage h2 {
        font-size: 70px;
    }

    .theMaskContent p {
        font-size: 1em;
        line-height: 1.2;
        padding: 0 0.5em 0 0.5em;
    }

    .theFormulaContainer {
        width: 80%;
    }

    .theFormulaContainer h2 {
        font-size: 3em;
    }

    .theFormulaContainer img {
        height: 330px;
    }

    .aMomentInMyHeadContainer h2 {
        font-size: 2.5em;
        text-align: center;
        letter-spacing: 9px;
    }

    .aMomentInMyHeadCenter p {
        font-size: 0.7em;
        width: 50%;
    }

    .aMomentInMyHeadCenter img {
        margin-top: 1em;
        width: calc(400px * 0.7);
    }
}

