@font-face {
    font-family: 'Aileron';
    font-weight: 700;
    src: url('./assets/fonts/Aileron-Black.woff2') format('woff2'),
        url('./assets/fonts/Aileron-Black.woff') format('woff');
}

@font-face {
    font-family: 'Gatwick';
    font-weight: 700;
    src: url('./assets/fonts/PPGatwick-Bold.woff') format('woff'),
        url('./assets/fonts/PPGatwick-Bold.woff2') format('woff2');
}

:root {
    --dirtywhite-color: rgb(254,251,246);
    --page-color: rgb(249,246,238);
    --light-color: rgb(177,183,212);
    --dark-color: rgb(115,126,167);
}

* {
    margin: 0;
    padding: 0;
    color: var(--light-color);
}

body {
    width: 100vw;
    background-color: var(--page-color);
    font-family: 'Aileron', sans-serif;
}

h1 {
    font-size: 7em;
}

h2 {
    font-size: 7em;
    line-height: 0.7;
}

h1,
h2 {
    color: var(--light-color);
    text-transform: uppercase;
    font-weight: 700;
}

p {
    font-family: 'Gatwick', sans-serif;
    font-size: 1em;
    letter-spacing: 1px;
    line-height: 1.5;
    text-align: justify;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container>div {
    padding: 1em;
    width: 90%;
}

/* cover hero style */
.cover {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cover h1 {
    text-align: center;
}

.coverDisclaimer {
    font-size: 0.8em;
    text-align: center;
    margin-bottom: 1em;
}

.cover img {
    width: 100%;
    height: 50vh;
    object-fit: cover;
}

/* table of contents styles */
.tableOfContents {
    display: flex;
}

.leftTOC>div {
    writing-mode: vertical-rl;
    transform: rotate(180deg);

    color: var(--light-color);
    font-size: 70px;
    letter-spacing: -2px;
    line-height: 0.7;
    text-transform: uppercase;
}

.rightTOC {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-left: 1em;
}

.titleDivTOC {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titleDivTOC>h3:first-of-type {
    color: var(--dark-color);
    font-size: 4em;
    font-weight: 700;
    text-transform: uppercase;
}

.titleDivTOC>h3:last-of-type {
    color: var(--light-color);
    font-size: 3em;
    font-weight: 700;
    text-transform: uppercase;
    transform: rotate(180deg);
    line-height: 0.1;
}

.titleDivTOC h2 {
    color: var(--dark-color);
    font-size: 1.2em;
    font-weight: 700;
    text-transform: lowercase;
    margin-top: 1.5em;
    letter-spacing: 10px;
}

.contentsTOC {
    flex: 1;
    height: 80%;
    padding: 1.5em 1em 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1em;
}

.contentDivTOC {
    display: flex;
}

.TOCNumber {
    color: var(--dark-color);
    font-size: 4em;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
    margin-right: 0.3em;
}

.TOCTitle {
    font-size: 2em;
    text-decoration: none;
}

.TOCTitle:hover {
    text-decoration: underline;
}

.TOCCredit,
.TOCCredit a {
    color: var(--dark-color);
    font-size: 1em;
    font-family: 'Aileron', sans-serif;
    line-height: 1;
}

.TOCCredit a {
    text-decoration: none;
}

.TOCCredit a:hover {
    text-decoration: underline;
}

/* the mask styles */
.theMaskPage {
    background: linear-gradient(to right, var(--page-color) 50%, var(--light-color) 50%);
}

.theMaskPage h2 {
    width: min-content;
    margin-bottom: 0.3em;
}

.theMaskContent {
    display: flex;
    align-items: center;
}

.theMaskContent img {
    width: 53%;
    height: 100%;
    object-fit: cover;
}

.theMaskContent p {
    width: 47%;
    margin: 0 0.5em;
    color: var(--dirtywhite-color);
}

/* the formula styles */
.theFormulaPage {
    background-color: var(--dark-color) !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.theFormulaPage h2,
.theFormulaPage div,
.theFormulaPage img {
    width: 60%;
}

.theFormulaPage h2,
.theFormulaPage p {
    color: var(--dirtywhite-color);
}

.theFormulaPage h2 {
    text-align: center;
    margin-bottom: 0.1em;
}

.theFormulaPage p:not(:first-of-type) {
    margin-top: 1em;
}

.theFormulaPage img {
    margin-top: 0.2em;
}

/* a moment in my head page styles */
.aMomentInMyHeadContainer {
    display: flex;
}

.aMomentInMyHeadContainer h2 {
    text-transform: lowercase;
    writing-mode: vertical-rl;
    line-height: 0.5;
    height: max-content;
}

.aMomentInMyHeadContainer h2:nth-of-type(2) {
    transform: rotate(180deg);
}

.aMomentInMyHeadContainer h2:nth-of-type(2),
.aMomentInMyHeadCenter p {
    color: var(--dark-color);
}

.aMomentInMyHeadCenter {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aMomentInMyHeadCenter img {
    margin-top: 1em;
    width: 80%;
}

.aMomentInMyHeadCenter p {
    margin-top: 1em;
    width: 50%;
}

/* a new challenge page styles */
.aNewChallengePage {
    background-color: var(--dark-color) !important;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.aNewChallengePage h2 {
    color: var(--page-color);
    width: 80%;
    text-align: center;
    text-transform: capitalize;
    line-height: 0.7;
    background: linear-gradient(to bottom, transparent 30%, var(--light-color) 0%, var(--light-color) 80%, transparent 0%);
}

.aNewChallengeContent {
    margin-top: 2em;
    display: flex;
}

.aNewChallengeContent img {
    width: 50%;
    height: 100%;
}

.aNewChallengeContent p {
    margin: 0 1em;
    color: var(--page-color);
}

/* caged styles */
.cagedPage {
    display: flex;
    justify-content: space-around;
    background-color: var(--light-color) !important;
}

.cagedLeft {
    width: 45%;
}

.cagedLeft h2 {
    margin-top: 0.1em;
    color: var(--page-color);
    writing-mode: vertical-rl;
    transform: rotate(180deg);
}

.cagedLeft > div:last-of-type {
    margin-top: 1em;
    background-color: var(--dark-color);
    padding: 0.9em;
}

.cagedLeft > div:last-of-type > p {
    color: var(--page-color);
    margin-top: 2em;
}

.cagedRight {
    width: 50%;
    display: flex;
    justify-content: center;
}

.cagedImageLoop {
    width: 100%;
    background: url('./assets/images/cagedPlaceholder.jpeg');
    background-repeat: repeat-y; 
    background-size: 100% auto;
    background-position: center;
}

/* future page styles */
.futurePage {
    display: flex;
}

.futureLeft {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-right: 1em;
}

.futurePage h2 {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
}

.futureRight {
    width: 70%;
    height: 100%;
}

.futurePage img {
    width: 100%;
    object-fit: cover;
}

/* the overman page styles */
.theOvermanPage {
    display: flex;
    flex-direction: column;
}

.theOvermanPage h2 {
    width: min-content;
    margin-bottom: 0.1em;
}

.theOvermanContent {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.theOvermanPage img {
    width: 50%;
}

.theOvermanParagraph1Container,
.theOvermanParagraph2Container {
    display: flex;
    justify-content: center;
    padding: 1em 0;
    background-color: rgba(177, 183, 212, 0.738);
}

.theOvermanParagraph2Container > p {
    padding: 1em;
    background-color: var(--light-color);
}

.theOvermanParagraph1Container > p,
.theOvermanParagraph2Container > p {
    color: var(--dirtywhite-color);
    width: 70%;
}

.theOvermanPage img:first-of-type,
.theOvermanPage p:first-of-type {
    justify-self: end;
}

.theOvermanPage img:last-of-type,
.theOvermanParagraph2Container {
    justify-self: start;
}

.theOvermanPage img:last-of-type {
    align-self: end;
}

/* footer styles */
footer {
    color: var(--dark-color);
    text-align: center;
    margin: 1em 0;
}

footer p,
footer a {
    font-family: 'Aileron', sans-serif;
}

/* tablet */
@media screen and (max-width: 900px) {
    h1 {
        letter-spacing: -0.069em;
    }

    .leftTOC>div {
        font-size: 4.5em;
    }
}

/* mobile */
@media screen and (max-width: 600px) {
    .container {
        width: 427px;
        margin: auto;
    }

    .container>div {
        height: 100%;
    }

    h2 {
        font-size: 4em;
        line-height: 0.8;
    }

    p {
        font-size: 0.3em !important;
        text-align: left;
    }

    /* cover styles */
    h1 {
        font-size: 50px;
    }

    /* table of contents styles */
    .leftTOC>div {
        font-size: 3.2em;
    }

    .titleDivTOC h3:last-of-type {
        line-height: 0.3;
    }

    .tableOfContents h3 {
        font-size: 2em !important;
    }

    .contentsTOC {
        padding: 1em 0.5em 0;
    }

    .TOCNumber {
        font-size: 2.5em;
    }

    .TOCTitle {
        font-size: 1.3em;
    }

    /* The Mask Page */ 
    .theMaskContent {
        height: 80%;
    }

    .theMaskContent p {
        padding: 0 0.5em;
    }

    /* The Formula Page */
    .theFormulaPage h2,
    .theFormulaPage div,
    .theFormulaPage img {
        width: 80%;
    }

    .theFormulaPage h2 {
        font-size: 3em;
    }

    .theFormulaPage img {
        height: 330px;
    }

    /* a moment in my head page styles */
    .aMomentInMyHeadContainer h2 {
        font-size: 2.5em;
        text-align: center;
        letter-spacing: 9px;
    }

    .aMomentInMyHeadCenter p {
        width: 50%;
    }

    .aMomentInMyHeadCenter img {
        margin-top: 1em;
        width: calc(400px * 0.7);
    }

    /* a new challenge page styles */
    .aNewChallengePage h2 {
        font-size: 3.5em;
        margin-top: 0.2em;
    }

    .aNewChallengeContent {
        margin-top: 1em;
    }

    .aNewChallengeContent img {
        width: 50%;
    }

    .aNewChallengeContent p {
        margin: 0 0.7em;
    }

    /* caged styles */
    .cagedLeft h2 {
        font-size: 3.5em;
    }

    /* future page styles */
    .futureLeft {
        margin-right: 0.3em;
    }

    /* the overman page styles */
    .theOvermanContent img {
        width: 60%;
    }
}